body {
    background: black;
    height: 100vh;
}

body #center{
    text-align: center;
}

body #logo {
    position: absolute;
    margin-left: 150px;
    margin-top: 45px;
}

body #shipp {
    position: absolute;
    margin-left: 150px;
    margin-top: -470px;
}

body #startButton {
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(144, 238, 144, 0.897);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 803px;
    margin-top: -315px;
    position: absolute;
}

body #startButton:hover {
    cursor: pointer;
    background-color: palegreen;
    transition: all .3s;
}

body #restartButton {
    cursor: pointer;
    font-size: 20px;
    font-family: "Segoe UI";
    background-color: rgba(144, 238, 144, 0.897);
    color: black;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    margin-left: 570px;
    margin-top: -220px;
    position: absolute;
}

body #restartButton:hover {
    cursor: pointer;
    background-color: palegreen;
    transition: all .3s;
}

body #instructions {
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 790px;
    margin-top: -240px;
    position: absolute;
}

.disp {display: none}

body .uk-modal-dialog {
    background: lightgrey;
    color: black;
}

canvas{
    margin-top: 75px;
    border-radius: 75px;
    border: 3px solid mediumorchid;
}