@font-face {
    font-family: 'pixelart';
    src: url("./fonts/PressStart2P.ttf")
  }

body {
    background: black;
    height: 100vh;
}

body #center{
    text-align: center;
}

body #logo {
    position: absolute;
    margin-left: 150px;
    margin-top: 45px;
}

body #shipp {
    position: absolute;
    margin-left: 150px;
    margin-top: -470px;
}

body #startButton {
    cursor: pointer;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 760px;
    margin-top: -230px;
    position: absolute;
}

body #startButton:hover {
    cursor: pointer;
    background-color: palegoldenrod;
    transition: all .3s;
}

body #start2Button {
    cursor: pointer;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 920px;
    margin-top: -230px;
    position: absolute;
}

body #start2Button:hover {
    cursor: pointer;
    background-color: palegoldenrod;
    transition: all .3s;
}

body #restartButton {
    cursor: pointer;
    font-size: 20px;
    font-family: "Segoe UI";
    background-color: rgba(144, 238, 144, 0.95);
    color: black;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    margin-left: 470px;
    margin-top: -220px;
    position: absolute;
}

body #restartButton:hover {
    cursor: pointer;
    background-color: palegreen;
    transition: all .3s;
}

body #restart2Button {
    cursor: pointer;
    font-size: 20px;
    font-family: "Segoe UI";
    background-color: rgba(144, 238, 144, 0.95);
    color: black;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    margin-left: 465px;
    margin-top: -220px;
    position: absolute;
}

body #restart2Button:hover {
    cursor: pointer;
    background-color: palegreen;
    transition: all .3s;
}

body #instructions {
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 810px;
    margin-top: -320px;
    position: absolute;
}

body #main {
    cursor: pointer;
    font-size: 20px;
    font-family: "Segoe UI";
    background-color: rgba(255, 192, 203, 0.9);
    color: black;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    margin-left: 630px;
    margin-top: -220px;
    position: absolute;
}

body #main:hover {
    cursor: pointer;
    background-color: pink;
    transition: all .3s;
}

body #soundOn {
    cursor: pointer;
    margin-left: 1040px;
    margin-top: -482px;
    position: absolute;
}

body #soundOff {
    cursor: pointer;
    margin-left: 1040px;
    margin-top: -482px;
    position: absolute;
}

.disp {display: none}

body .uk-modal-dialog {
    background: lightgrey;
    color: black;
    border-radius: 20px;
    text-align: center;
}

canvas{
    margin-top: 75px;
    border-radius: 75px;
    border: 3px solid mediumorchid;
}